{% extends "orders/base.html" %}

{% block title %}Welcome to Pinochio's{% endblock %}

{% block body %}
  <h3>Probably the best Pizza in Harvard's Arounds</h3>
  <p class="center">Ready for enjoy authentic Pizza?
  In our restaurant you'll have everything from Napoletanian to Sicilian Pizzas,<br>
   and also Vegetarian Options!</p>
  <h3>Don't forget Our Subs!</h3>
  <p class="center">Here you have some of them<p>
  <div class="container-fluid" >
    <img style="width: 100%; height: 20em; object-fit: cover;" src="https://d1725r39asqzt3.cloudfront.net/d2c99700-efc5-48bc-8b93-8fb544e4b596/orig.jpg" alt="Good Pizza">
  </div>
{% endblock %}
